h1{
    font-size: 55px;
    padding-top: 50px;
    padding-left: 510px;
    color: seagreen;
}

body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    align-content: center;
    display: grid;
    grid-template-columns: 100px 100px 100px; /*widths of all the boxes*/ 
    grid-template-rows: 100px 100px 100px;
    padding: 10px;
    padding-left: 500px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
  
  .box {
    background-color: powderblue;
    border: 1px solid black;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    font-family: Bradley Hand, cursive;
    padding-right: 4px;
    padding-left: 4px;
    color: seagreen;
  }

  #reset {
    background-color: powderblue;
    color: seagreen;
    font-size: 20px;
    text-align: center;
    margin: auto;
    display: flex;
    border-radius: 8px;
    font-family:Chalkduster, fantasy;
  }

  
@media (min-width: 576px) {
  #h1 {width:100%;}
  #button {width:100%;}
  #div {width: 100%}
  
  }
    



